@import '../../less/colors.less';

.gantt {
  &__outer {
    position: relative;
  }

  &__inner {
    overflow-x: scroll;
    overflow-y: visible;
    border-right: 1px solid @light-gray;

    &::-webkit-scrollbar {
      width: 0.4em;
    }
   
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }
   
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,.1);
      outline: 1px solid slategrey;
    }

    * {
      user-select: none;
    }
  }
}
