@import '../../less/colors.less';

.gantt {
  &__outer {
    position: relative;
  }

  &__inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: 1024px;
    border-right: 1px solid @light-gray;
  }
}
