@import '../../less/colors.less';

.gantt-project-select {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &__placeholder {
    color: @dark-gray;
  }

  .MuiInput-underline:after {
    border-color: @blue;
  }

  .MuiInput-underline:before {
    border-color: @light-gray;
  }
}
