// colors
@color-1: #e0e0e0;
@color-2: #ffffff;
@color-3: #61dafb;
@color-4: rgba(0,0,0,.2);
@color-5: rgba(0,0,0,.05);
@color-6: #333333;
@color-7: #f7f7f7;
@color-8: #f44336;
@color-9: rgba(0, 0, 0, 0.5);

//basic
@light-gray:               @color-1;
@ultra-light-gray:         @color-7;
@dark-gray:                @color-9;
@white:                    @color-2;
@blue:                     @color-3;
@transparent-black:        @color-4;
@transparent-black-2:      @color-5;
@black:                    @color-6;
@red:                      @color-8;
