@import './colors.less';

body {
  margin: 0;
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h5, p {
  color: @text;
}

.root {
  width: max-content;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}