@import '../../../less/colors.less';

.gantt-header {
  display: flex;

  &__title {
    width: 208px;
    padding: 16px;
    border: 1px solid @light-gray;
  }

  &__year {
    &-title {
      padding: 16px;
      text-align: center;
      border: 1px solid @light-gray;
  
      &:first-child {
        border-left: none;
      }
    }

    &-content {
      display: flex;
    }
  }

  &__month {
    &-title {
      padding: 16px;
      text-align: center;
      border-right: 1px solid @light-gray;;
  
      &:first-child {
        border-left: none;
      }
    }

    &-content {
      display: flex;
    }
  }

  &__day {
    width: 18px;
    padding: 16px;
    border: 1px solid @light-gray;
    border-right: none;
    text-align: center;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: 1px solid @light-gray;
    }

    &--weekend {
      background: #f1f1f1;
    }
  }
}