@import '../../../less/colors.less';

.gantt-row {
  &__task-name {
    position: absolute;
    width: 208px;
    padding: 5px 10px 4px;
    border: 1px solid @light-gray;
    border-top: none;
    background: @white;
    z-index: 1000;
  }

  &__task-timeline {
    padding: 3px 0;
    margin-left: 230px;
    border: 1px solid @light-gray;
    border-top: none;
    border-left: none;
    background: linear-gradient(90deg, @light-gray 2%, transparent 1%) -1px, @white;
    background-size: 29px 1px;

    &:last-child {
      border-right: none;
    }
  }

  &__task-duration {
    height: 22px;
    background: @blue;
  }
}
